* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: url(./img/supreme-bg.jpg) center;
    background-size: cover;
    font-family: arial, italic, sans-serif;
}

header {
    height: 180px;
}

.supreme-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.supreme {
    width: 287px;
    height: 82px;
    font-size: 60px;
    font-style: italic;
    color: #FFFFFF;
    background-color: #FF0000;
    text-align: center;
    padding-top: 3px;
}

.date {
    padding-top: 49px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.links {
    display: flex;
    justify-content: center;
    padding-top: 91px;
    list-style-type: none;
}

.links-style {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.links-style:hover {
    color: #FFFFFF;
    background-color: #FF0000;
    transition: 0.2s linear;
}

.social-links {
    display: flex;
    justify-content: center;
    padding-top: 78px;
    pointer-events: none;
}

.social-style {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

footer {
    height: 180px;
}